{% extends 'layout.html.twig' %}

{# Defines specific variables #}
{% set title = 'Panier' %}
{% set description = 'Panier d\'achats' %}

{% block content %}
    <div data-controller="cart">
        <twig:c975LShop:Cart:Display cart="{{ cart }}"/>
        <twig:c975LShop:Cart:Buttons cart="{{ cart }}"/>
        <twig:c975LShop:Cart:Validation cart="{{ cart }}"/>
        {# <p class="text-center">
            <button data-action="click->cart#validate" class="btn btn-primary">
                Procéder au paiement de {{ (cart.total / 100)|number_format(2) }} {{ cart.currency }}
            </button>
        </p> #}
    </div>
{% endblock %}
