{# <twig:c975LShop:Crowdfunding:AddButton crowdfundingCounterpart="{{ counterpart }}" [type="primary"] [quantity="1"]/> #}
{% set type = type | default('primary') %}
{% set quantity = quantity | default(1) %}
{% set label = 'label.i_contribute'|trans({}, 'shop') %}

{% set isStarted = date()|date("Y-m-d H:i:s") > crowdfundingCounterpart.crowdfunding.beginDate|date("Y-m-d 00:00:00") %}
{% set endOfDay = date(crowdfundingCounterpart.crowdfunding.endDate|date("Y-m-d 23:59:59")) %}
{% set isEnded = date() > endOfDay %}

{% if false == isStarted %}
    <twig:c975LShop:CrowdfundingCounterpart:AddButtonNotStarted type="{{ type }}" beginDate="{{ crowdfundingCounterpart.crowdfunding.beginDate }}"/>
{% elseif isEnded %}
    <twig:c975LShop:CrowdfundingCounterpart:AddButtonIsEnded type="{{ type }}"/>
{% else %}
    {% set disabled = "" %}
    {% if crowdfundingCounterpart.limitedQuantity is same as 0 %}
        {% set disabled = "disabled" %}
        {% set label = 'label.unavailable'|trans({}, 'shop') %}
    {% elseif crowdfundingCounterpart.limitedQuantity > 0 and crowdfundingCounterpart.orderedQuantity >= crowdfundingCounterpart.limitedQuantity %}
        {% set disabled = "disabled" %}
        {% set label = 'label.limited_quantity_reached'|trans({}, 'shop') %}
    {% endif %}
    <button
        {{ disabled }}
        data-action="click->basket#addItem"
        data-type="crowdfunding"
        data-quantity="{{ quantity }}"
        data-limited="{{ crowdfundingCounterpart.limitedQuantity|default(0) }}"
        data-ordered="{{ crowdfundingCounterpart.orderedQuantity|default(0) }}"
        data-item-id="{{ crowdfundingCounterpart.id }}"
        data-title="{{ crowdfundingCounterpart.title }}"
        data-alert="success"
        data-text="{{ 'label.added'|trans({}, 'shop') }}"
        class="btn btn-large btn-{{ type }}">
        <twig:c975LSite:Image:Icon src="bundles/c975lshop/images/face-grin.svg" width="24" height="24" class="white"/> {{ label }}
    </button>
{% endif %}