<hr>
<div class="limited-quantity">
    {% if null != limited %}
        <p class="primary bold">{{ 'label.limited_quantity'|trans({}, 'shop') }} : {{ limited }}</p>
        <p>{{ 'label.ordered_quantity'|trans({}, 'shop') }} : <strong>{{ ordered ?? 0 }}</strong></p>
        <p>{{ 'label.remaining_quantity'|trans({}, 'shop') }} : <strong>{{ limited - ordered }}</strong></p>
    {% else %}
        <p>{{ 'label.ordered_quantity'|trans({}, 'shop') }} : <strong>{{ ordered ?? 0 }}</strong></p>
    {% endif %}
    <p>{{ 'label.expected_delivery'|trans({}, 'shop') }} : <strong>{{ expectedDelivery }}</strong></p>
</div>
<hr>