{# <twig:c975LShop:ProductItem:AddButton productItem="{{ productItem }}" [type="primary"] [quantity="1"]/> #}
{% set type = type | default('primary') %}
{% set quantity = quantity | default(1) %}
{% set disabled = "" %}
{% if productItem.limitedQuantity > 0 and productItem.limitedQuantity >= productItem.orderedQuantity %}
    {% set disabled = "disabled" %}
{% endif %}
<button
    {{ disabled }}
    data-action="click->basket#addItem"
    data-type="product"
    data-quantity="{{ quantity }}"
    data-limited="{{ productItem.limitedQuantity|default(0) }}"
    data-ordered="{{ productItem.orderedQuantity|default(0) }}"
    data-item-id="{{ productItem.id }}"
    data-title="{{ productItem.title }}"
    data-alert="success"
    data-text="{{ 'label.added'|trans({}, 'shop') }}"
    class="btn btn-large btn-{{ type }}">
    <twig:c975LSite:Image:Icon src="bundles/c975lshop/images/basket-shopping.svg" width="24" height="24" class="white"/> {{ 'label.add'|trans({}, 'shop') }}
</button>