{# <twig:c975LShop:Basket:AddOneButton productItem="{{ productItem }}" [type="primary"]/> #}
{% set type = type | default('primary') %}
<button data-action="click->basket#addProductItem" data-quantity="1" data-product-item-id="{{ productItem.productItem.id }}" data-title="{{ productItem.product.title ~ ' (' ~ productItem.productItem.title ~')' }}" data-alert="success" data-text="{{ 'label.added'|trans({}, 'shop') }}" class="btn btn-{{ type }} btn-small">
    +
</button>