{# <twig:c975LShop:Basket:ProductDeleteButton productItem="{{ productItem }}" [type="disabled"]/> #}
{% set type = type | default('disabled') %}
<button
    data-action="click->basket#deleteProductItem"
    data-product-item-id="{{ productItem.productItem.id }}"
    data-title="{{ productItem.product.title ~ ' (' ~ productItem.productItem.title ~')' }}"
    data-alert="success"
    data-text="{{ 'label.removed'|trans({}, 'shop') }}"
    class="btn btn-{{ type }} btn-small btn-grey">
    <twig:c975LSite:Image:Icon src="bundles/c975lshop/images/trash-can.svg" width="24" height="24"/>
</button>