{# <twig:c975LShop:Basket:ProductPrice productItem="{{ productItem }}" type="simple|complex"/> #}
<div>
    {% if type == "complex" %}
        Prix HT : {{ ((productItem.price /100) - productItem.vatAmount)|format_currency(productItem.currency) }}<br>
        Taux TVA : {{ productItem.vat|format_currency(productItem.currency) }} %<br>
        TVA : {{ productItem.vatAmount|format_currency(productItem.currency) }}<br>
        Prix TTC : {{ (productItem.price / 100)|format_currency(productItem.currency) }}
    {% else %}
        {{ (productItem.price / 100)|format_currency(productItem.currency) }}
    {% endif %}
</div>