{% extends 'layout.html.twig' %}
{% trans_default_domain 'shop' %}

{# Defines specific variables #}
{% set title = 'label.crowdfunding'|trans ~ ' : "' ~ crowdfunding.title ~ '"' %}
{% if crowdfunding.medias is not empty %}
    {% set ogImage = absolute_url(asset(crowdfunding.medias[0].name)) %}
{% endif %}

{% set description = crowdfunding.description %}

{% block content %}
    <div class="crowdfunding">
{# {{ dump(crowdfunding) }} #}
        <twig:c975LShop:Crowdfunding:AmountGoal amount="{{ crowdfunding.amountGoal }}" currency="{{ crowdfunding.currency }}"/>
        <twig:c975LShop:Crowdfunding:AmountAchieved amount="{{ crowdfunding.amountGoal }}" amountAchieved="{{ crowdfunding.amountAchieved }}" currency="{{ crowdfunding.currency }}"/>
        <twig:c975LShop:Crowdfunding:Author name="{{ crowdfunding.authorName }}" presentation="{{ crowdfunding.authorPresentation }}" website="{{ crowdfunding.authorWebsite }}"/>
        <twig:c975LShop:Crowdfunding:Dates beginDate="{{ crowdfunding.beginDate }}" endDate="{{ crowdfunding.endDate }}"/>
        {# <twig:c975LSite:SliderVideo video="{{ crowdfunding.video }}"/> #}
        <twig:c975LShop:Crowdfunding:ContributorsNumber contributors="{{ crowdfunding.contributors|length }}"/>
        <twig:c975LShop:Crowdfunding:Description description="{{ crowdfunding.description }}"/>
        <twig:c975LShop:Crowdfunding:UseFor description="{{ crowdfunding.useFor }}"/>
        <twig:c975LSite:Slider:Slider slides="{{ crowdfunding.medias }}" id="slider"/>
        <div data-controller="basket">
            <twig:c975LShop:Crowdfunding:CounterParts counterparts="{{ crowdfunding.counterparts }}"/>
            <twig:c975LShop:Basket:Message/>
            <twig:c975LShop:Basket:ViewButton icon="true" type="secondary" class="black"/>
        </div>
        <twig:c975LShop:Crowdfunding:NewsCollection newsCollection="{{ crowdfunding.news }}"/>
        <twig:c975LShop:Crowdfunding:Contributors contributors="{{ crowdfunding.contributors }}"/>
    </div>
{% endblock %}
