{# <twig:c975LShop:Basket:AddButton product="{{ product }}" [type="primary"] [quantity="1"]/> #}
{% set type = type | default('primary') %}
{% set quantity = quantity | default(1) %}
<button data-action="click->basket#add" data-quantity="{{ quantity }}" data-productId="{{ product.id }}" class="btn btn-{{ type }}">
    -> {{ 'label.basket'|trans({}, 'shop') }}
</button>