{# <twig:c975LShop:Basket:AddOneButton item="{{ item }}" [type="primary"]/> #}
{% set type = type | default('primary') %}
{% set disabled = "" %}
{% if item.item.orderedQuantity + item.quantity >= item.item.limitedQuantity or item.type == "product" and null != item.item.file %}
    {% set disabled = "disabled" %}
{% endif %}
<button
    data-action="click->basket#addItem"
    data-type="{{ type }}"
    data-quantity="1"
    data-item-id="{{ item.item.id }}"
    data-title="{{ item.parent.title ~ ' (' ~ item.item.title ~')' }}"
    data-alert="success"
    data-text="{{ 'label.added'|trans({}, 'shop') }}"
    class="btn btn-{{ type }} btn-small lead"
    {{ disabled }}>
    +
</button>