{# <twig:c975LShop:Basket:Deliver basket="{{ basket }}"/> #}
{% trans_default_domain 'shop' %}
<p>&nbsp;</p>
<p class="text text-center">{{ 'label.basket_deliver'|trans }}</p>
<p class="text text-center">{{ basket.name }}</p>
<p class="text text-center">{{ basket.address }}</p>
<p class="text text-center">{{ basket.zip }} {{ basket.city }}</p>
<p class="text text-center">{{ basket.country }}</p>
<p>&nbsp;</p>