{# <twig:c975LShop:Basket:Delivery basket="{{ basket }}"/> #}
{% trans_default_domain 'shop' %}
{% if basket.digital != 1 %}
    <h2 class="text-center">{{ 'label.delivery'|trans }}</h2>
    {% if basket.status == "paid" %}
        <p class="text text-center">{{ 'label.basket_delivery'|trans }}</p>
    {% elseif basket.status == "shipped" %}
        <p class="text text-center">{{ 'label.basket_delivered'|trans }}</p>
    {% endif %}
    <p class="text text-center">{{ basket.name }}</p>
    <p class="text text-center">{{ basket.address }}</p>
    <p class="text text-center">{{ basket.zip }} {{ basket.city }}</p>
    <p class="text text-center">{{ basket.country }}</p>
{% endif %}