{# <twig:c975LShop:Basket:Display basket="{{ basket }}" [type="simple|complex"]/> #}
{% set kind = kind | default('simple') %}
{% set readonly = readonly | default(false) %}
<h2 class="text-center">{{ 'label.ordered_items'|trans({}, 'shop') }}</h2>
<twig:c975LShop:Basket:Items basket="{{ basket }}" kind="{{ kind }}" readonly="{{ readonly }}"/>