{# <twig:c975LShop:Basket:Price item="{{ item }}" type="simple|complex"/> #}
<div>
    {% if type == "complex" %}
        Prix HT : {{ ((item.price /100) - item.vatAmount)|format_currency(item.currency) }}<br>
        Taux TVA : {{ item.vat|format_currency(item.currency) }} %<br>
        TVA : {{ item.vatAmount|format_currency(item.currency) }}<br>
        Prix TTC : {{ (item.price / 100)|format_currency(item.currency) }}
    {% else %}
        {{ item.price == 0 ? 'label.free'|trans({}, 'shop') : (item.price / 100)|format_currency(item.currency) }}
    {% endif %}
</div>