{# <twig:c975LShop:Basket:Product product="{{ product }}" quantity="{{ product.quantity }}" total="{{ product.total }}" type="simple|complex"  status="{{ basket.status }}"/> #}
<tr class="text-center" id="product-{{ product.id }}">
    {# Image and Title #}
    <td>
        {% set imageSrc = product.medias|first != false ? product.medias|first : "bundles/c975lshop/images/no-product-image.webp" %}
        <twig:c975LSite:Image:Link src="{{ asset(imageSrc) }}" url="{{ url('product_display', {'slug': product.slug}) }}" class="img-square img-shadow img-product" width="150" height="150"/>
        <p>{{ product.title }}</p>
    </td>
    {# Price and Quantity #}
    <td>
        <twig:c975LShop:Basket:ProductPrice product="{{ product }}" type="{{ type }}"/>
        (x <span data-basket-target="productQuantity" data-product-id="{{ product.id }}">{{ quantity }}</span>)
        <br>
        <twig:c975LShop:Basket:ProductTotal product="{{ product }}" total="{{ total }}" totalVat="{{ totalVat }}" type="{{ type }}"/>
        <br>
        {% if "paid" != status %}
            <twig:c975LShop:Basket:ProductAddRemoveButtons product="{{ product }}" quantity="{{ quantity }}"/>
        {% endif %}
    </td>
</tr>