{# <twig:c975LShop:Basket:ProductRemoveOneButton product="{{ product }}" [type="primary"]/> #}
{% set type = type | default('primary') %}
<button data-action="click->basket#add" data-quantity="-1" data-productId="{{ product.id }}" data-title="{{ product.title }}" data-alert="warning" data-text="{{ 'label.removed'|trans({}, 'shop') }}" class="btn btn-{{ type }} btn-small">
    -
</button>