{# <twig:c975LShop:Basket:ProductsTotal product="{{ product }}" type="simple|complex"/> #}
<div class="text-right">
    {% if type == "complex" %}
        Prix HT : {{ (total / 100 - totalVat)|number_format(2) }} {{ product.currency }}<br>
        Taux TVA : {{ product.vat|number_format(2) }} %<br>
        TVA : {{ totalVat|number_format(2) }} {{ product.currency }}<br>
        <strong>Prix TTC : {{ (total / 100)|number_format(2) }} {{ product.currency }}</strong>
    {% else %}
        <strong>{{ (total / 100)|number_format(2) }} {{ product.currency }}</strong>
    {% endif %}
</div>