{# <twig:c975LShop:Basket:ProductPrice product="{{ product }}" type="simple|complex"/> #}
<div>
    {% if type == "complex" %}
        Prix HT : {{ ((product.price /100) - product.vatAmount)|format_currency(product.currency) }}<br>
        Taux TVA : {{ product.vat|number_format(2) }} %<br>
        TVA : {{ product.vatAmount|format_currency(product.currency) }}<br>
        Prix TTC : {{ (product.price / 100)|format_currency(product.currency) }}
    {% else %}
        {{ (product.price / 100)|format_currency(product.currency) }}
    {% endif %}
</div>