{# <twig:c975LShop:Basket:ProductItem productItem="{{ productItem }}" quantity="{{ productItem.quantity }}" total="{{ productItem.total }}" type="simple|complex"  status="{{ basket.status }}"/> #}
<tr class="text-center" id="productItem-{{ productItem.productItem.id }}">
    {# Image and Title #}
    <td>
        {% set imageSrc = productItem.productItem.media != null ? productItem.productItem.media : "bundles/c975lshop/images/no-product-image.webp" %}
        {% set imageSrc = productItem.product.image != false ? productItem.product.image : imageSrc %}
        <twig:c975LSite:Image:Link src="{{ asset(imageSrc) }}" url="{{ url('product_display', {'slug': productItem.product.slug}) }}" class="img-shadow img-product" width="150" height="150"/>
        <p>
            {{ productItem.product.title }}
            <br>
            ({{ productItem.productItem.title }})
        </p>
    </td>
    {# Price and Quantity #}
    <td>
        <twig:c975LShop:ProductItem:Price productItem="{{ productItem.productItem }}" type="{{ type }}"/>
        (x <span data-basket-target="productItemQuantity" data-product-item-id="{{ productItem.productItem.id }}">{{ quantity }}</span>)
        <br>
        <twig:c975LShop:ProductItem:Total productItem="{{ productItem.productItem }}" total="{{ total }}" totalVat="{{ totalVat }}" type="{{ type }}"/>
        <br>
        {% if "paid" != status %}
            <twig:c975LShop:ProductItem:AddRemoveButtons productItem="{{ productItem }}" quantity="{{ quantity }}"/>
        {% endif %}
    </td>
</tr>