{# <twig:c975LShop:Basket:Products basket="{{ basket }}" [type="simple|complex"]" readonly="true"/> #}
{% trans_default_domain 'shop' %}
{% if basket.total > 0 %}
    <table>
        {# ProductItems #}
        {% for productItem in basket.productItems %}
            <twig:c975LShop:Basket:ProductItem productItem="{{ productItem }}" quantity="{{ productItem.quantity }}" total="{{ productItem.total }}" totalVat="{{ productItem.totalVat }}" type="{{ type }}" readonly="{{ readonly }}"/>
        {% endfor %}
        {# Frais de port #}
            <tr class="shipping">
                <td>
                    {{ 'label.shipping'|trans }}
                </td>
                <td>
                    <span data-basket-target="shipping">{{ basket.shipping > 0 ? (basket.shipping / 100)|format_currency(basket.currency) : 'label.offered'|trans }}</span>
                </td>
            </tr>
        {# Total #}
        <tfoot>
            <tr>
                <th><strong>{{ 'label.total'|trans }}</strong></th>
                <th>
                    <strong>
                        <span data-basket-target="total">{{ ((basket.total + basket.shipping) / 100)|format_currency(basket.currency) }}</span>
                        <br>
                        <twig:c975LSite:Image:Icon src="bundles/c975lshop/images/basket-shopping.svg" width="24" height="24"/> <span data-basket-target="quantity" class="lead">{{ basket.quantity }}</span>
                    </strong>
                </th>
            </tr>
        </tfoot>
    </table>
{% else %}
    <p class="text text-center lead">{{ 'label.basket_empty'|trans }}</p>
{% endif %}