{# <twig:c975LShop:Basket:ProductPrice product="{{ product }}" type="simple|complex"/> #}
<div>
    {% if type == "complex" %}
        Prix HT : {{ ((product.price /100) - product.vatAmount)|number_format(2) ~ product.currency }}<br>
        Taux TVA : {{ product.vat|number_format(2) }} %<br>
        TVA : {{ product.vatAmount|number_format(2) ~ product.currency }}<br>
        Prix TTC : {{ (product.price / 100)|number_format(2) ~ product.currency }}
    {% else %}
        {{ (product.price / 100)|number_format(2) ~ product.currency }}
    {% endif %}
</div>