{# <twig:c975LShop:Basket:Total item="{{ item }}" kind="simple|complex"/> #}
<div>
    {% if kind == "complex" %}
        Prix HT : {{ (total / 100 - totalVat)|format_currency(item.currency) }}<br>
        Taux TVA : {{ item.vat|format_currency(item.currency) }} %<br>
        TVA : {{ totalVat|format_currency(item.currency) }}<br>
        <strong>Prix TTC : {{ (total / 100)|format_currency(item.currency) }}</strong>
    {% else %}
        <strong><span data-basket-target="itemTotal" data-item-id="{{ type }}-{{ item.id }}">{{ total == 0 ? 'label.free'|trans({}, 'shop') : (total / 100)|format_currency(item.currency) }}</span></strong>
    {% endif %}
</div>