{# <twig:c975LShop:Basket:Validation basket="{{ basket }}" form="{{ form }}"/> #}
{% trans_default_domain 'shop' %}
{% if basket.total > 0 %}
    <section>
        <h2 id="validate">{{ 'label.validate_basket'|trans }}</h2>
        {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" name="submit" class="btn btn-primary" value="{{ 'label.pay'|trans }} {{ ((basket.total + basket.shipping) / 100)|format_currency(basket.currency) }}">
            </div>
            {# Champ obligatoire #}
            <p class="text-muted">
                {{ 'label.mandatory_field'|trans({}, 'services') }}
            </p>
        {{ form_end(form) }}
        {# Paiement sécurisé #}
        <twig:c975LSite:Image:Image src="bundles/c975lshop/images/powered_by_stripe.png" width="149" height="41"/>
        <p class="text-center">{{ 'label.secure_payments'|trans({}, 'shop') }}</p>
    </section>
{% endif %}