{% trans_default_domain 'shop' %}

{% set class = "not-drawn" %}
{% set number = "XX-0000-YYY" %}
{% set name = 'label.not_yet_drawn'|trans %}
{% if true == winner %}
    {% set class = "winner" %}
    {% set number = prize.winningTicket.number %}
    {% set contributorName = null != prize.winningTicket.contributor.name ? prize.winningTicket.contributor.name : 'label.anonymous'|trans %}
    {% set name = "label.name"|trans ~ ": <strong>" ~ contributorName ~ "</strong>" %}
    {% set disabled = "disabled" %}
{% endif %}
<twig:c975LSite:Card:Card id="prize-{{ prize.id }}" title="#{{ prize.rank }} - {{ prize.title }}">
    <div class="card-data" data-prize-rank="{{ prize.rank }}">
        <p class="text-left">{{ prize.description|raw|nl2br }}</p>
        <h3>{{ 'label.winner_ticket'|trans({}, 'shop') }}</h3>
        <p class="ticket-number {{ class }}" data-lottery-target="winnerNumber">{{ number }}</p>
        <p data-lottery-target="winnerName">{{ name|raw }}</p>
        {# Draw #}
        {% if prize.lottery.tickets is not empty and false == winner and is_granted('ROLE_ADMIN') %}
            {% set disabled = "" %}
            {% if date() < prize.lottery.drawDate %}
                {% set disabled = "disabled" %}
            {% endif %}
            <twig:c975LShop:Lottery:DrawButton rank="{{ prize.rank }}" disabled="{{ disabled }}"/>
        {% elseif true == winner %}
            <p class="text text-center">{{ 'label.draw_date'|trans({}, 'shop') }} : <strong>{{ prize.drawDate|date('d/m/Y - H:i', app.session.get('user_timezone', 'Europe/Paris')) }}</strong></p>
        {% endif %}
    </div>
</twig:c975LSite:Card:Card>