{% extends 'layout.html.twig' %}
{% trans_default_domain 'shop' %}

{# Defines specific variables #}
{% set title = product.title %}
{% if product.medias is not empty %}
    {% set ogImage = absolute_url(asset(product.medias[0].name)) %}
{% endif %}

{% set description = product.description %}

{% block content %}
    <twig:c975LShop:Shop:TestMode/>
    <section class="text-center">
        <twig:c975LShop:Shop:ViewButton/>
        <twig:c975LSite:Slider:Slider slides="{{ product.medias }}" id="slider"/>
        <twig:c975LShop:Product:Category category="{{ product.category }}"/>
        <twig:c975LShop:Product:Description description="{{ product.description }}"/>
        <h2 id="items">{{ 'label.items'|trans }}</h2>
        {% if product.availableAt == null or product.availableAt|date('Ymd') <= "now"|date("Ymd") %}
            <div data-controller="basket">
                <twig:c975LShop:Product:Items items="{{ product.items }}"/>
                <twig:c975LShop:Basket:Message/>
                <twig:c975LShop:Shop:NavbarBasket/>
            </div>
        {% else %}
            <twig:c975LSite:Alert:Alert type="warning">
                {{ 'label.product_not_yet_available'|trans({}, 'shop') }} {{ product.availableAt|date('d/m/Y') }}.
            </twig:c975LSite:Alert:Alert>
        {% endif %}
        <twig:c975LShop:Basket:ContinueShoppingButton/>
    </section>
{% endblock %}
