{% set progressPercent = (amountAchieved / amount * 100)|round %}
<section id="funding">
    <h2>{{ 'label.funding'|trans({}, 'shop') }}</h2>
    <p><strong>{{ (amountAchieved / 100)|format_currency(currency, {fraction_digit: 0}) }}</strong> {{ 'label.outof'|trans({}, 'shop') }} <strong>{{ (amount / 100)|format_currency(currency, {fraction_digit: 0}) }}</strong></p>
    <twig:c975LSite:Progress:Bar progressPercent="{{ progressPercent }}" text="true"/>
    <twig:c975LShop:Crowdfunding:ContributorsNumber contributorsLength="{{ contributorsLength }}"/>
    <twig:c975LShop:Crowdfunding:Smileys progressPercent="{{ progressPercent }}"/>
    <twig:c975LSite:Button:Button label="{{ 'label.next_smiley'|trans({}, 'shop') }}" url="{{ app.request.uri }}#counterparts"/>
</section>