<twig:c975LSite:Card:Card id="{{ counterpart.slug }}" level="h3" title="{{ counterpart.title }}" class="crowdfunding-counterpart">
    <div>
        {% if counterpart.media != null and counterpart.media.name != null %}
            <div class="card-img">
                <twig:c975LSite:Image:Image src="{{ counterpart.media.name }}" class="img-shadow" width="100" height="auto"/>
            </div>
        {% endif %}
        <div class="card-data">
            <twig:c975LShop:Lottery:TicketsQuantity tickets="{{ counterpart.lotteryTickets }}"/>
            <p class="description">{{ counterpart.description|nl2br }}</p>
            <p class="price-counterpart">{{ (counterpart.price / 100)|format_currency(counterpart.currency, {fraction_digit: 0}) }}</p>
            <twig:c975LShop:Item:Type item="{{ counterpart }}"/>
            <twig:c975LShop:CrowdfundingCounterpart:Quantity limited="{{ counterpart.limitedQuantity }}" ordered="{{ counterpart.orderedQuantity }}" expectedDelivery="{{ counterpart.expectedDelivery }}"/>
            <twig:c975LShop:Item:Quantity id="{{ counterpart.id }}"/>
        </div>
    </div>
    <twig:c975LShop:CrowdfundingCounterpart:AddButton crowdfundingCounterpart="{{ counterpart }}"/>
</twig:c975LSite:Card:Card>