{% set now = date() %}
{% set endOfDay = date(endDate|date('Y-m-d 23:59:59')) %}
{% set isEnded = now > endOfDay %}
{% set diffInHours = date(endOfDay).diff(now).h + (date(endOfDay).diff(now).days * 24) %}
{% set daysLeft = (diffInHours / 24)|round(0, 'ceil') %}
{% set isLastDay = diffInHours > 0 and diffInHours < 24 %}

{% set totalDuration = date(endDate).diff(date(beginDate)).days %}
{% set elapsedDuration = now.diff(date(beginDate)).days %}
{% set progressPercent = (elapsedDuration / totalDuration * 100)|round %}
{% set progressPercent = progressPercent > 100 ? 100 : (progressPercent < 0 ? 0 : progressPercent) %}
<section id="dates">
    <h2>{{ 'label.dates'|trans({}, 'shop') }}</h2>
    <p><twig:c975LSite:Image:Icon src="bundles/c975lshop/images/calendar-check.svg" width="24" height="24"/> <strong>{{ beginDate|date('d/m/Y') }} - {{ endDate|date('d/m/Y') }}</strong></p>
    {% if isEnded %}
        <p>{{ 'label.crowdfunding_ended'|trans({}, 'shop') }}</p>
    {% elseif isLastDay %}
        <p><twig:c975LSite:Image:Icon src="bundles/c975lshop/images/calendar-days.svg" width="24" height="24"/> <strong>{{ 'label.last_day'|trans({}, 'shop') }}</strong></p>
    {% else %}
        <p><twig:c975LSite:Image:Icon src="bundles/c975lshop/images/calendar-days.svg" width="24" height="24"/> <strong>{{ daysLeft }}</strong> {{ 'label.days_left'|trans({}, 'shop') }}</p>
    {% endif %}
    <twig:c975LSite:Progress:Bar progressPercent="{{ progressPercent }}" text="false"/>
</section>