{% set now = date() %}
{% set diff = date(endDate).diff(now) %}
{% set daysLeft = diff.days %}
{% set totalDuration = date(endDate).diff(date(beginDate)).days %}
{% set elapsedDuration = now.diff(date(beginDate)).days %}
{% set progressPercent = (elapsedDuration / totalDuration * 100)|round %}
{% set progressPercent = progressPercent > 100 ? 100 : (progressPercent < 0 ? 0 : progressPercent) %}

<section id="dates">
    <h2>{{ 'label.dates'|trans({}, 'shop') }}</h2>
    <p><twig:c975LSite:Image:Icon src="bundles/c975lshop/images/calendar-check.svg" width="24" height="24"/> <strong>{{ beginDate|date('d/m/Y') }} - {{ endDate|date('d/m/Y') }}</strong></p>
    {% if daysLeft > 0 %}
        <p><twig:c975LSite:Image:Icon src="bundles/c975lshop/images/calendar-days.svg" width="24" height="24"/> <strong>{{ daysLeft }}</strong> {{ 'label.days_left'|trans({}, 'shop') }}</p>
    {% else %}
        {{ 'label.crowdfunding_ended'|trans({}, 'shop') }}
    {% endif %}
    <twig:c975LSite:Progress:Bar progressPercent="{{ progressPercent }}" text="false"/>
</section>