<section id="presentation">
    <h2>{{ 'label.presentation'|trans({}, 'shop') }}</h2>
    <twig:c975LShop:Crowdfunding:Videos videos="{{ crowdfunding.videos }}"/>
    <h3>{{ 'label.project'|trans({}, 'shop') }}</h3>
    {{ crowdfunding.description|raw }}
    <h3>{{ 'label.use'|trans({}, 'shop') }}</h3>
    {{ crowdfunding.useFor|raw }}
</section>