<twig:c975LSite:Card:Card id="{{ productItem.slug }}" title="{{ productItem.title }}" class="product-item">
    <div>
        {% if productItem.media != null and productItem.media.name != null %}
            <div class="card-img">
                <twig:c975LSite:Image:Image src="{{ productItem.media.name }}" class="img-shadow" width="100" height="auto"/>
                <twig:c975LShop:Product:Icon item="{{ productItem }}"/>
            </div>
        {% endif %}
        <div class="card-data">
            <p>{{ productItem.description }}</p>
            <p class="price">{{ (productItem.price / 100)|format_currency(productItem.currency) }}</p>
            <twig:c975LShop:Item:Type item="{{ productItem }}"/>
            <twig:c975LShop:Item:Quantity id="{{ productItem.id }}"/>
        </div>
    </div>
    <twig:c975LShop:ProductItem:Quantity limited="{{ productItem.limitedQuantity }}" ordered="{{ productItem.orderedQuantity }}"/>
    <twig:c975LShop:ProductItem:AddButton productItem="{{ productItem }}"/>
</twig:c975LSite:Card:Card>