{% if product is not defined and this.product is defined %}
    {% set product = this.product %}
{% endif %}
<article class="product product-link {{ class|default("") }}" id="product-{{ product.slug }}">
    {% set imageSrc = product.medias|first != false ? product.medias|first : "bundles/c975lshop/images/no-product-image.webp" %}
    <twig:c975LSite:Image:Link src="{{ absolute_url(asset(imageSrc)) }}" url="{{ path('product_display', {'slug': product.slug}) }}" class="img-shadow img-product" width="140"/>
    <h3>{{ product.title }}</h3>
</article>