{% extends 'layout.html.twig' %}
{% trans_default_domain 'shop' %}

{# Defines specific variables #}
{% set title = 'label.basket'|trans %}
{% set description = 'label.basket'|trans %}

{% block content %}
    <twig:c975LShop:Shop:TestMode/>
    {% if null != basket %}
        {% if "display" == action %}
            <div data-controller="basket" id="basket-page">
                <twig:c975LShop:Shop:Shipping/>
                <twig:c975LShop:Basket:Display basket="{{ basket }}" readonly="false"/>
                <twig:c975LShop:Basket:Message/>
                <twig:c975LShop:Basket:Buttons basket="{{ basket }}"/>
            </div>
        {% elseif "validate" == action %}
            <div data-controller="basket" id="basket-page">
                <twig:c975LShop:Shop:Shipping/>
                <twig:c975LShop:Basket:Display basket="{{ basket }}" readonly="true"/>
                <twig:c975LShop:Basket:Validation basket="{{ basket }}" form="{{ form }}"/>
            </div>
        {% elseif "paid" == action %}
            <twig:c975LShop:Basket:PaidInfos number="{{ basket.number }}"/>
            <twig:c975LShop:Basket:TrackOrder basket="{{ basket }}"/>
            <twig:c975LShop:Basket:Delivery basket="{{ basket }}"/>
            <twig:c975LShop:Basket:Display basket="{{ basket }}" readonly="true"/>
            <twig:c975LShop:Basket:MessageUser message="{{ basket.message }}"/>
            <twig:c975LShop:Shop:ViewButton/>
        {% endif %}
    {# Empty basket #}
    {% else %}
        <p class="text text-center lead">{{ 'label.basket_empty'|trans({}, 'shop') }}</p>
        <twig:c975LShop:Shop:ViewButton/>
    {% endif %}
    {# Empty basket for javascript use #}
    <template id="empty-basket-template">
        <p class="text text-center lead">{{ 'label.basket_empty'|trans({}, 'shop') }}</p>
        <twig:c975LShop:Shop:ViewButton/>
    </template>
{% endblock %}

{% block share %}
{% endblock %}
