{% extends 'layout.html.twig' %}
{% trans_default_domain 'shop' %}

{# Defines specific variables #}
{% set title = 'label.items_shipped'|trans %}
{% set description = 'label.items_shipped'|trans %}

{% block content %}
    {% if null != basket %}
        {# items #}
        {% if null != basket.itemsShipped %}
            <p class="text text-center lead">{{ 'text.items_shipped'|trans({}, 'shop') }} {{ basket.itemsShipped|date('d/m/Y - H:i', app.session.get('user_timezone', 'Europe/Paris')) }}</p>
        {% endif %}
        {# counterparts #}
        {% if null != basket.counterpartsShipped %}
            <p class="text text-center lead">{{ 'text.counterparts_shipped'|trans({}, 'shop') }} {{ basket.counterpartsShipped|date('d/m/Y - H:i', app.session.get('user_timezone', 'Europe/Paris')) }}</p>
        {% endif %}
        <p class="text text-center">{{ 'label.order_number'|trans({}, 'shop') }}: {{ basket.number }}</p>
    {% endif %}
{% endblock %}

{% block share %}
{% endblock %}